<div class="section">
  <div class="row columns">
    <div class="column is-10 is-offset-1">
      <div class="card large">
        <div class="card-content">
          <div class="content">
            <br><br>
            <center>
            <%= form_for @task, url: task_path(:id => @task.id) do |f| %>
              <% if @task.errors.any? %>
                <% @task.errors.full_messages.each do |m| %>
                    <p><%= m %></p>
                <% end %>
                <br><br>
              <% end %>
              <p>Title</p>
              <%= f.text_field :title %>
              <br><br><br><br>
              <p>Description</p>
              <%= f.text_field :description %>
              <br><br><br><br>
              <p>Date and Time</p>
              <%= f.datetime_field :due_date %>
              <br><br><br><br>
              <%= f.submit "Edit" %>
            <% end %>

            <br><br>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>