<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  </head>

  <body>
    <%= render "shared/navbar" %>
    <main>
      <section class="hero is-fullheight">
        <div class="hero-body has-text-centered">
          <div class="container">
            <div id="flow">
              <span class="flow-1"></span>
              <span class="flow-2"></span>
              <span class="flow-3"></span>
            </div>
            <%= yield %>       
          </div>
        </div>
      </section>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
